{% extends "base-layout.html" %}
{% block body %}
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1>SQL Pandas - SQL to Pandas Converter</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
            		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque placerat felis in venenatis maximus. Suspendisse egestas nisl lacus, bibendum cursus nisi porttitor ac. Fusce vitae fringilla erat. Integer sapien lorem, sollicitudin non urna et, dapibus dignissim nisi. Duis blandit libero sapien, in sagittis massa tristique eget. Aenean feugiat massa eget purus accumsan, ac interdum magna lacinia. Morbi vehicula eget quam ut eleifend. Donec porta lectus elit, sed fringilla tellus egestas a. Aliquam ac dignissim mi, sed efficitur neque. Phasellus quis eleifend ipsum.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h2>SQL Input</h2>
            		<textarea class="form-control" rows="20" placeholder="Copy SQL query here." id="sqlInput"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<br>
					<button type="button" class="btn btn-primary" id="submitButton">
						Submit
						<i class="fas fa-cogs"></i>
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h2>Pandas Output</h2>
            		<textarea class="form-control" rows="20" placeholder="Output will appear here." id="pandasOutput" readonly></textarea>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
